/*Vuetify issue on Github*/
.v-item-group.v-bottom-navigation .v-btn.v-size--default {
  height: inherit;
}
/*Vuetify*/
.multilinechip {
  width:500px
}
.v-btn__content {
  line-height: 0.8rem!important;
}
.theme--light.v-list-item, .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled), .theme--light.v-application {
  color: #313131!important;
}
.theme--dark .bg-theme {
  background-color: #161617 !important;
}
.bg-theme {
  background-color: #ffffff !important;
}
v-navigation-drawer--is-mobile:not(.v-navigation-drawer--close), .v-navigation-drawer--temporary:not(.v-navigation-drawer--close), .v-dialog {
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%)!important;
}
.v-chip {
  height: auto!important;
  white-space: inherit!important;
  min-height: 32px;
  padding: 6px 12px!important;
}
.v-tabs-bar {
  height: 100%!important;
}
.v-tabs-items {
  background-color: inherit!important;
}
.v-toolbar__content {
  padding: 0!important;
}
.v-bottom-navigation.theme--dark, .theme--dark.v-car, .theme--dark.v-toolbar,.theme--dark.v-navigation-drawer, .theme--dark.v-tabs > .v-tabs-bar {
  background-color: #161617!important;
}
.theme--dark.v-tabs-items {
  background-color: black!important;
}
.theme--dark.v-sheet, .theme--dark .appBar {
  border-color: rgba(84, 84, 88, 0.65)!important;
}
.theme--dark .svglogo {
  fill: white!important;
  stroke:white!important;
}
.svglogo {
  fill: rgba(0, 0, 0, 0.87);
  stroke:rgba(0, 0, 0, 0.87);
}
.svglogogrey {
  fill: rgba(0, 0, 0, 0.54);
  stroke:rgba(0, 0, 0, 0.54);
}
.v-progress-circular__info {
  color: #fff;
  font-size: 1.6rem;
  font-family: teradeli-medium;
}
.v-btn--active .v-icon:before, .v-btn--active span.v-btn__content {
  color: #0081a7 !important;
}
.border-2 {
  border: #eae8e4 solid 1px;
}
.border-top-2 {
  border-top: #eae8e4 solid 1px;
}


.border-bottom-2 {
  border-bottom: #eae8e4 solid 1px!important;
}
@media(min-width:64em) {
.border-bottom-md-2 {
  border-bottom: #eae8e4 solid 1px!important;
}}

.border-left-2 {
  border-left: #eae8e4 solid 1px;
}

.border-right-2 {
  border-right: #eae8e4 solid 1px;
}
.theme--dark .border-top-2 {
  border-top: rgba(84, 84, 88, 0.65) solid 1px;
}

.theme--dark .border-bottom-2 {
  border-bottom: rgba(84, 84, 88, 0.65) solid 1px!important;
}

.theme--dark .border-left-2 {
  border-left: rgba(84, 84, 88, 0.65) solid 1px;
}

.theme--dark .border-right-2 {
  border-right: rgba(84, 84, 88, 0.65) solid 1px;
}

.border-bottom-1 {
  border-bottom: solid 1px #1c1b1b99;;
}

.border-top-1 {
  border-top: solid 1px #1c1b1b99;;
}

.finebordert {
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}
.theme--dark .finebordert {
  border-top: solid 1px rgba(84, 84, 88, 1);
}

.teradeli-book {
  font-family: 'teradeli-book', sans-serif !important;
}

.teradeli-light {
  font-family: 'teradeli-light', sans-serif !important;
}

.teradeli-medium {
  font-family: 'teradeli-medium', sans-serif !important;
}
.body-xl {
  font-size: 1.2rem;
  letter-spacing: .05rem;
  line-height: 2.5rem;
  font-weight: 300;
}
.label {
  font-size: .75rem;
  letter-spacing: .025rem;
  line-height: 1.2rem;
}
.appbartitle {
  font-size: 1.1rem;
  letter-spacing: 0;
  line-height: 1.2rem;
  font-weight: 600;
}
.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wa-edito-title {
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 4rem;
  font-weight: 600;
    @media screen and (min-width: 48rem){
    font-size: 3.5rem;
    letter-spacing: 0;
    line-height: 7.5rem;
    font-weight: 600;
  }
}

.mediabox-img.ls-blur-up-is-loading,
.mediabox-img.lazyload:not([src]) {
  visibility: hidden;
}
.ls-blur-up-img,
.mediabox-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: block;
  font-family: "blur-up: auto", "object-fit: cover";
  object-fit: cover;
}
.ls-blur-up-img {
  filter: blur(10px);
  opacity: 1;
  transition: opacity 1000ms, filter 1500ms;
}
.ls-blur-up-img.ls-inview.ls-original-loaded {
  opacity: 0;
  filter: blur(5px);
}
// THE LOADING EFFECT
/* .skeletton .lazyload, .skeletton .lazyloaded {
  background-color: #e2e5e7;
	// The shine that's going to move across the skeleton:
	background-image:	linear-gradient(0.25turn, transparent, #fff, transparent);
	background-size: 700px 100%; // width of the shine
	background-repeat: no-repeat; // No need to repeat the shine effect
	background-position: left -700px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
	animation: shine 1s infinite; // increase animation time to see effect in 'slow-mo'
} */

@keyframes shine {
	to {
		// Move shine from left to right, with offset on the right based on the width of the shine - see background-size
		background-position: right -700px top 0;
	}
}
.smalltitle {
  font-size: 17px;
  line-height: 1.2rem;
}
.wa-smart-picture img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.wa-smart-picture {
    display: block;
    position: relative;
    overflow: hidden;
    &:focus {
      outline: none !important;
    }
}
.square-ratio:before {
  padding-top: 100%;
}
.large-ratio:before {
  padding-top: 75%;
}
.small-ratio:before {
  padding-top: 40%;
}
.wa-smart-picture:before {
    display: block;
    content: "";
    width: 100%;
}
@media screen and (min-aspect-ratio: 3/2) and (min-width: 48rem) {
.wa-panoramic-picture.square-ratio:before {
    padding-top: 25%;
}
}
@media screen and (min-aspect-ratio: 4/3) and (min-width: 48rem) {
.wa-panoramic-picture.square-ratio:before {
    padding-top: 38.09524%;
}
}
@media screen and (min-width: 48rem) {
.wa-panoramic-picture.square-ratio:before {
    padding-top: 50%;
}
}
@media screen and (min-width: 64rem) {
.wa-magazine .wa-smart-picture:before {
    padding-top: 25%;
}
}
.centerabsolute {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.boxcenterabsolute {
  display: flex; // make us of Flexbox
  align-items: center; // does vertically center the desired content
  justify-content: center; // horizontally centers single line items
  text-align: center; // optional, but helps horizontally center text that breaks into multiple lines
  height:100%;
}
.btn-theme {
  outline: 0;
  text-transform: uppercase;
  word-break: break-word;
  font-weight: bold!important;
}
.gradientbluebackground {
  background: linear-gradient(90deg,#0081a7,#6aaacf);
}

.btn-transparent {
  background-color: transparent !important;
  border: rgba(255, 255, 255, 0.6) solid 1px;
  font-weight: 300;
  outline: 0;
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  word-break: break-word;
  color: #fff!important;
}

.nav-btn {
  height: 42px;
  color: #fff;
  border: none;
  outline: 0;
  font-size: 0.775rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.8px;
  background-color: #0081a7 !important;
  word-break: break-word;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.6s ease;

  &:hover {
    background-color: #19110b !important;
  }
}

#mapSection {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  padding-top: 1.5rem !important;
}

.map-marker {
  margin-left: -5px;
  margin-top: 20px;
  box-sizing: border-box;
}

.map-marker.map-clickable {
  cursor: pointer;
}

.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #f7f14c;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #716f42;
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
}

.map-marker .dot {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0081a7;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 1.5s infinite;
  position: absolute;
  top: -10px;
  left: -8px;
}
.conttext {
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-left: 30px;

  .img {
    width: 150px;
    border-radius: 4px;
  }

  .text {
    text-align: left;
    color: #19110b;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'teradeli-medium', sans-serif;
  }
}
.pvw {
  padding: 6vw 2vw!important;
  @media(min-width: 48em) {
      padding: 3.125vw!important;
  }
  @media(min-width: 64em) {
      padding: 3vw!important;
  }
  @media(min-width: 90em) {
      padding: 3.33333vw!important;
  }
}
.appshadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .04), 0 12px 20px 0 rgba(0, 0, 0, .08);
  transition: 0.2s;
}

@-moz-keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 129, 167, 0.9);
    box-shadow: 0 0 0 0 rgba(0, 129, 167, 0.9);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(0, 129, 167, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(0, 129, 167, 0);
  }
}

@-webkit-keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 129, 167, 0.9);
    box-shadow: 0 0 0 0 rgba(0, 129, 167, 0.9);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(0, 129, 167, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(0, 129, 167, 0);
  }
}

.v-progress-circular__underlay {
  stroke: white;
}

.appBar {

  header {
    background: white!important;
  }
  .whiteBack .theme--light.v-btn.v-btn--icon {
    color: #19110b !important;
  }

  .item {
    span {
      font-weight: 500;
      font-size: .8125rem;
      line-height: 1.23;
      letter-spacing: .8px;
    }
  }

  .v-list-item {
    border-bottom: 1px solid #9e9e9e45;
    text-transform: uppercase;

  }

  .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled).current {
    color: #0081a7 !important;
  }
}

.nohover:focus::before, .nohover:hover::before {
  opacity: 0 !important;
}

.btn-theme.theme--dark .v-btn__content {
  font-family: teradeli-light;
}

#Eden_ProjetContainer {
  transform: translateX(-265px);
  @media (max-width: 767px) {
    transform: translateX(-118px) translateY(17px) !important;
  }
}

@media (max-width: 767px) {
  #Trees_for_TigerContainer {
    transform: translateX(-230px);
    margin-top: -150px;
  }
}
.logosvg svg {
  width: 30px;
  margin: 0 auto;
  display: block;
}
.modal-open {
  overflow: hidden !important;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.h-50 {
  height: 50% !important;
}

.opacity-02 {
  opacity: 0 !important;
}

.absolute-title {
  z-index: 2;
  position: absolute !important;
  top: 20px;
}

.p-0 {
  padding: 0 !important;
}

.bgi {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}
@media (min-width: 48em) {
  .position-sm-relative {
    position: relative !important;
  }
}

.v-expansion-panel-content__wrap {
  padding: 0!important;
}


.v-snack__wrapper.t.theme--dark {
    background-color: rgba(0, 0, 0, 0.5)!important;
}
.v-application--is-ltr .v-snack__action {
  margin-right: 0px!important;
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.custom-side-modal {
  position: fixed;
  right: 0;
  max-height: 100vh !important;
  height: 100vh !important;
  margin: 0 !important;
}
.filter-bar {
  .v-toolbar__content {
    flex-wrap: wrap;
  }
}
.custom-list {
  .v-list-item--active {
    color: #19110b !important;
    font-weight: 900;
  }
}

.stickyFilterBar {
  position: sticky;
  top: 0;
  z-index: 5;
}

.v-carousel__controls__item.v-btn.v-btn--icon {
  color: #b2b2b2 !important;
}


.modalContent {
  ul {
    list-style-type: none !important;
    padding-left: 0 !important;
  }
}

.mapClass {
  .card-header {
    margin-top: 0;
    margin-bottom: 5px;
    color: #19110b;
    font-size: 16px;
    font-weight: 900;
    width: 500px;
  }
}

.sub-title {
font-size: 22px;
font-family: 'teradeli-medium', sans-serif;
z-index: 1;
line-height: 1.8rem;
position: relative;
letter-spacing: .009em;
  @media(min-width:48em) {
  font-size: 24px;
  }
}
.app-title {
  padding-bottom: 20px;
  font-size: 50px !important;
  color: white;
  letter-spacing: -0.04em !important;
  font-family: 'teradeli-medium', sans-serif !important;
  line-height: 1 !important;
  font-weight: normal;
  transition: all .3s cubic-bezier(.39, .575, .565, 1);
  @media(max-width: 768px) {
    font-size: 45px !important;
    text-align: left !important;
    margin: 0 auto;
  }
}

.app-subtitle {
  letter-spacing: .004em;
  font-family: 'teradeli-light', sans-serif !important;
  color: #fff;
  line-height: 1.10722 !important;
  transition: all .3s cubic-bezier(.39, .575, .565, 1);
  padding-bottom: 20px;
  font-size: 24px !important;
  @media(max-width: 768px) {
    text-align: left !important;
    margin: 0 auto;
  }
}

.page-title {
  padding-bottom: 20px;
  font-size: 60px !important;
  letter-spacing: -0.06em !important;
  font-family: 'teradeli-medium', sans-serif !important;
  line-height: 1 !important;
  font-weight: normal;
  transition: all .3s cubic-bezier(.39, .575, .565, 1);
  @media(max-width: 768px) {
    font-size: 45px !important;
    text-align: left !important;
    margin: 0 auto;
  }
}

.page-subtitle {
  font-size: 22px;
  font-family: "teradeli-medium", sans-serif;
  z-index: 1;
  line-height: 1.8rem;
  position: relative;
  letter-spacing: -0.03em;
  @media(max-width: 768px) {
    font-size: 18px;
    line-height: 1.4rem;
  }
}
.page-title2 {
  padding-bottom: 20px;
  font-size: 50px !important;
  letter-spacing: -0.06em !important;
  font-family: 'teradeli-medium', sans-serif !important;
  line-height: 1 !important;
  font-weight: normal;
  transition: all .3s cubic-bezier(.39, .575, .565, 1);
  @media(max-width: 768px) {
    font-size: 35px !important;
    text-align: left !important;
    margin: 0 auto;
  }
}
.page-title3 {
  padding-bottom: 20px;
  font-size: 35px !important;
  letter-spacing: -0.06em !important;
  font-family: 'teradeli-medium', sans-serif !important;
  line-height: 1 !important;
  font-weight: normal;
  transition: all .3s cubic-bezier(.39, .575, .565, 1);
  @media(max-width: 768px) {
    font-size: 20px !important;
    text-align: left !important;
    margin: 0 auto;
  }
}

.page-subtitle2 {
  font-size: 24px;
  font-family: "teradeli-medium", sans-serif;
  z-index: 1;
  line-height: 1.8rem;
  position: relative;
  letter-spacing: -0.03em;
  font-weight: normal;
  @media(max-width: 768px) {
    font-size: 20px;
    line-height: 1.4rem;
  }
}
.spacing {
	margin-top:60px;
	margin-bottom:30px;
		@media	(min-width: 48em) {
			margin-top:120px;
			margin-bottom:60px
		}
}
.text-white {
  color: white!important;
}

.text-lightblue {
  color: #0081a7;
}

.text-gray {
  color: rgba(255, 255, 255, 0.5);
}

.bg-white {
  background: white;
}
.bg-black {
  background: black;
}

.hand {
  cursor: pointer;
}

.home-title {
  font-family: 'teradeli-medium', sans-serif;
  line-height: 1;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.03em;
  z-index: 2;
  position: relative;
}
.home-subtitle {
  z-index: 2;
  position: relative;
  font-size: 18px;
  line-height: 1.21053;
  font-weight: 400;
}
.mission-accordion {
  .v-expansion-panel {
    background-size: cover;
  }

  ul {
    padding-left: 0 !important;
  }

  .minusIcon {
    display: none;
  }

  .v-expansion-panel-header {
    padding-bottom: 60px;
  }

  .v-expansion-panel-header--active {
    .minusIcon {
      display: block;
    }

    .plusIcon {
      display: none;
    }

  }

  .v-expansion-panel-header__icon {
    display: none !important;
  }
}

#blackContent {
  z-index: 100000;
  background-color: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
  -webkit-transition: opacity 0.5s, visibility 0s linear 0.5s;
  visibility: hidden;

  &.overlay {
    visibility: visible !important;
    opacity: .8 !important;
    transition: opacity 0.5s, visibility 0s !important;
    -webkit-transition: opacity 0.5s, visibility 0s !important;
  }
}

.stickyBar {
  transition: ease-in-out 0.4s;
  position: fixed;
  z-index: 5;
  transform: translate3D(0, 0, 0);
  top: -71px;
  width: 100%;

  .v-expansion-panels {
    display: none;
  }

  &.active {
    top: 0 !important;

    .v-expansion-panels {
      display: block;
    }
  }
}

.blackoverlay {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #121217;
    opacity: 0.1;
    z-index: 1 !important;
    transition: opacity 0.5s !important;
  }
}
.blueoverlay {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #153038;
    opacity: 0.5;
    z-index: 1 !important;
    transition: opacity 0.5s !important;
  }
}
.blackoverlay2 {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #121217;
    opacity: 0.2;
    z-index: 1 !important;
    transition: opacity 0.5s !important;
  }
}
.whiteoverlay2 {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 0.2;
    z-index: 1 !important;
    transition: opacity 0.5s !important;
  }
}
.roundedoverlay {
  &::before {
    border-radius: 20px !important;
  }
  &::after {
    border-radius: 20px !important;
  }
}
.gradientoverlay {
  &::after {
    background: linear-gradient(0.90deg, #000000 0%, transparent 100%);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5 !important;
  }
}
.fullgradientoverlay {
  &::after {
    background: linear-gradient(0.90deg, #000000 0%, transparent 100%);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 1 !important;
  }
}
.fullwhitegradientoverlay {
  &::after {
    background: linear-gradient(0.90deg, #ffffff 0%, transparent 100%);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 1 !important;
  }
}
.invgradientoverlay {
  &::after {
    background: linear-gradient(180deg, #000000 0%, transparent 100%);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5 !important;
  }
}
.invfullgradientoverlay {
  &::after {
    background: linear-gradient(180deg, #000000 0%, transparent 100%);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 1 !important;
  }
}
.lbbgradienttext {
  width: 100%;
  color: transparent;
  background-image: linear-gradient(to left, #3d8ebe, #153038);
  -webkit-background-clip: text;
  background-clip: text;
}
.lbbwhitegradienttext {
  background: radial-gradient(#3d8ebe, #fff);
  background-size: 100% 200%;
  background-position: 50% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradienttext {
  display: inline-block;
  width: 100%;
  color: transparent;
  background-image: linear-gradient(to right, #3d8ebe, #61b6cd);
  -webkit-background-clip: text;
  background-clip: text;
}
.v-toolbar__logo {
  width: 150px;
}

.z-2 {
  z-index: 2;
  position: relative;
}

.backgroundcover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.mission-accordion {
  .v-expansion-panel {
    background-color: transparent !important;
  }
}
/*.theme--dark .menu-bar {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(29,29,31,0.72)!important;
}*/
.theme--dark .menu-bar {
  background-color: #161617!important
}
/*A supprimer une fois le theme dark implementé */

.theme--dark .v-application--wrap {
  background: black;
}
.theme--dark .toolbar, .theme--dark .v-application .bgcard, .theme--dark .v-navigation-drawer {
  background-color: #161617 !important;
}
.theme--dark .buttonblack {
  background-color: #202021 !important;
}
.theme--dark .v-btn, .theme--dark .toolbar, .theme--dark .v-list-item__content, .theme--dark .v-card {
  color: white!important;
}
.theme--dark .titlesmall {
  color: white!important;
}
/*A supprimer une fois le theme dark implementé */
.menu-bar {
  /*backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.62)!important;*/
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  background-color: rgba(255, 255, 255, 0.9)!important;

  .brand {
    filter: brightness(1) invert(0);
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .item {
    color: #19110b;
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
}

.BgTransparent {
  .menu-bar {
    background: transparent !important;
    backdrop-filter: none!important;
    border-bottom: none!important;
    /*@media(min-width: 961px) {
      border-bottom: solid 1px rgba(255,255,255,0.4)!important;
    }*/
    .brand {
      filter: brightness(0) invert(1);
    }
    .item {
      color: white;
    }
    .logo {
      fill: white;
      stroke: white;
      transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .v-icon {
      color: white!important;
      transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
  }
}
/*.BgTransparent .theme--dark .menu-bar {
  @media(min-width: 961px) {
    border-bottom: solid 1px #c0c0c080!important;
  }
}*/
.toolbartabs {
  width: calc(100% - 66px)!important;
}
.homecard {
  height: 25rem!important;
  @media (min-width: 48em) {
    height: 33rem!important;
  }
}
.productgrid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  padding: 1rem!important;
  grid-gap: 1rem;
  @media (max-width: 64em) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media (max-width: 48em) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0.5rem;
  }
}
.threegrid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  padding: 1rem!important;
  grid-gap: 1rem;
  @media (max-width: 64em) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media (max-width: 48em) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0.5rem;
  }
}

.homegrid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: 1fr;
  padding:1rem!important;
  @media (max-width: 960px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: auto auto;
    padding:0!important;
    grid-gap: 0.5rem;
  }
  @media (min-width: 960px) {
    .item1 {
      grid-column: 1 / span 2;
    }
  }
}

.hand {
  cursor: pointer;
}
.viewer-backdrop {
    background-color: rgb(255 255 255) !important;
}

.viewer-backdrop {
  background-color: rgb(255 255 255) !important;
}

.no-message {
  .v-messages {
    display: none;
  }

  .v-input__slot {
    margin-bottom: 0 !important;
  }
}

.custom-list {
  .v-list-item--active {
    color: #19110b !important;
    font-weight: 900;
  }
}
.bar-fixed {
  position: fixed;
  z-index: 2;
  width: inherit;
  max-width: inherit;
  background: white;
}
/* purgecss start ignore */
div#tidio-chat {
  z-index: 100!important;
  position: relative;
}
.v-text-field--enclosed .v-input__append-inner, .v-text-field--enclosed .v-input__append-outer, .v-text-field--enclosed .v-input__prepend-inner, .v-text-field--enclosed .v-input__prepend-outer, .v-text-field--full-width .v-input__append-inner, .v-text-field--full-width .v-input__append-outer, .v-text-field--full-width .v-input__prepend-inner, .v-text-field--full-width .v-input__prepend-outer {
  margin-top: 17px!important;
}
label.v-label.theme--light.error--text {
  left: 0!important;
}
.v-icon.v-icon {
  align-items: center;
  display: inline-flex;
  font-feature-settings: "liga";
  font-size: 24px;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1;
  position: relative;
  text-indent: 0;
  transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.theme--light.v-icon {
  color: rgba(0,0,0,.54);
}
.v-text-field .v-input__append-inner, .v-text-field .v-input__prepend-inner {
  align-self: flex-start;
  display: inline-flex;
  margin-top: 4px;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.v-application--is-ltr .v-text-field .v-input__prepend-inner {
  margin-right: auto;
  padding-right: 4px;
}
.slide-left-enter-active {
  transition: all .1s ease;
}
.slide-left-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-left-enter, .slide-left-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(100px);
  opacity: 0;
}
.slide-right-enter-active,
.slide-right-leave-active {
  transition: opacity 0.2s;
}
.slide-right-enter,
.slide-right-leave-to {
  opacity: 0;
}

.page-enter-active {
  transition: all .1s ease;
}
.page-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.page-enter, .page-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(100px);
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.1s ease;
}

.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */
{
  transform: translateX(500px);
  opacity: 0;
}
[data-aos="fadeup"] {
  transform: translateY(30px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}
/* purgecss end ignore */
.wa-product-image {
  object-fit: contain;
  max-height: 70vh;
}
.contain {
  object-fit: contain;
}

.vue-foldable .vue-foldable-mask {
  bottom: 28px!important;
}
.smalltext {
  font-size: 0.875rem;
  line-height: 1.2rem;
}
@media(max-width:64em) {
  .mobilescrollable {
    overflow: auto;
  }
}
.small-bottom-dialog {
  height: 95%;
  max-height: 100%!important;
  @media(min-width:48em) {
      height: 90%;
      max-width: 700px!important;
    }
  }
.bottom-dialog {
  margin: 0!important;
  align-self: flex-end;
  }
  .realisation {
    bottom: 0;
    right:0;
    font-size: 13px;
  }
  .v-app-bar--is-scrolled {
    top: 0;
    position: fixed!important;
    z-index: 5;
  }
