html {
  scroll-behavior: smooth;
}
/*Vuetify issue on Github*/
.v-item-group.v-bottom-navigation .v-btn.v-size--default {
  height: inherit;
}
/*Vuetify*/
.v-application {
  font-family: 'teradeli-book', sans-serif !important;

  .title { // To pin point specific classes of some components
    font-family: 'teradeli-light', sans-serif !important;
  }
}
.v-bottom-navigation.theme--dark, .theme--dark.v-car, .theme--dark.v-toolbar,.theme--dark.v-navigation-drawer, .theme--dark.v-tabs > .v-tabs-bar {
  background-color: #1C1C1E!important;
}
.theme--dark.v-tabs-items {
  background-color: black!important;
}
.theme--dark.v-sheet, .theme--dark .appBar {
  border-color: rgba(84, 84, 88, 0.65)!important;
}
.v-progress-circular__info {
  color: #fff;
  font-size: 1.6rem;
  font-family: teradeli-medium;
}
.v-btn--active .v-icon:before, .v-btn--active span.v-btn__content {
  color: #0081a7 !important;
}

.border-top-2 {
  border-top: #eae8e4 solid 1px;
}

.border-bottom-2 {
  border-bottom: #eae8e4 solid 1px;
}

.border-left-2 {
  border-left: #eae8e4 solid 1px;
}

.border-right-2 {
  border-right: #eae8e4 solid 1px;
}
.theme--dark .border-top-2 {
  border-top: rgba(84, 84, 88, 0.65) solid 1px;
}

.theme--dark .border-bottom-2 {
  border-bottom: rgba(84, 84, 88, 0.65) solid 1px;
}

.theme--dark .border-left-2 {
  border-left: rgba(84, 84, 88, 0.65) solid 1px;
}

.theme--dark .border-right-2 {
  border-right: rgba(84, 84, 88, 0.65) solid 1px;
}

.border-bottom-1 {
  border-bottom: solid 1px #1c1b1b99;;
}

.border-top-1 {
  border-top: solid 1px #1c1b1b99;;
}

.finebordert {
  border-top: solid 1px rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'teradeli-book', sans-serif;
  color: #19110b;
}

.v-application {
  font-family: 'teradeli-book', sans-serif;
}

.teradeli-book {
  font-family: 'teradeli-book', sans-serif !important;
}

.teradeli-light {
  font-family: 'teradeli-light', sans-serif !important;
}

.teradeli-medium {
  font-family: 'teradeli-medium', sans-serif !important;
}

.form-theme {
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 12px;
  font-weight: bold;
  line-height: 1.5;
  color: rgba(0, 0, 0, .4);
  margin: 10px 0;
  height: 55px;
  font-size: 12px;
  font-family: "teradeli-medium", sans-serif;
  transition: all 0.6s ease;

  &:focus {
    border-color: #0081a7 !important;
    box-shadow: 0 1px 1px rgba(0, 129, 167, .075) inset, 0 0 8px rgba(0, 129, 167, .6);
    outline: 0 none;
  }

  &::placeholder {
    color: rgba(0, 0, 0, .3);
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.centerabsolute {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.btn-theme {
  color: #fff!important;
  border: none;
  outline: 0;
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  background-color: #0081a7 !important;
  word-break: break-word;
  font-weight: 600;
}

.btn-transparent {
  background-color: transparent !important;
  border: rgba(255, 255, 255, 0.6) solid 1px;
  font-weight: 300;
  outline: 0;
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  word-break: break-word;
  color: #fff!important;
}

.nav-btn {
  height: 42px;
  color: #fff;
  border: none;
  outline: 0;
  font-size: 0.775rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.8px;
  background-color: #0081a7 !important;
  word-break: break-word;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.6s ease;

  &:hover {
    background-color: #19110b !important;
  }
}

#mapSection {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  padding-top: 1.5rem !important;
}

.map-marker {
  margin-left: -5px;
  margin-top: 20px;
  box-sizing: border-box;
}

.map-marker.map-clickable {
  cursor: pointer;
}

.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #f7f14c;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #716f42;
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
}

.map-marker .dot {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0081a7;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 1.5s infinite;
  position: absolute;
  top: -10px;
  left: -8px;
}

.v-expansion-panel-content__wrap {
  padding: 0 10px !important;
}

.conttext {
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-left: 30px;

  .img {
    width: 150px;
    border-radius: 4px;
  }

  .text {
    text-align: left;
    color: #19110b;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'teradeli-medium', sans-serif;
  }
}

.appshadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .04), 0 12px 20px 0 rgba(0, 0, 0, .08);
  transition: 0.2s;
}

@-moz-keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 129, 167, 0.9);
    box-shadow: 0 0 0 0 rgba(0, 129, 167, 0.9);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(0, 129, 167, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(0, 129, 167, 0);
  }
}

@-webkit-keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 129, 167, 0.9);
    box-shadow: 0 0 0 0 rgba(0, 129, 167, 0.9);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(0, 129, 167, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(0, 129, 167, 0);
  }
}

.v-progress-circular__underlay {
  stroke: white;
}

.appBar {
  .theme--light.v-btn.v-btn--icon {
    color: rgb(255 255 255);
  }

  .whiteBack .theme--light.v-btn.v-btn--icon {
    color: #19110b !important;
  }

  .item {
    span {
      font-weight: 500;
      font-size: .8125rem;
      line-height: 1.23;
      letter-spacing: .8px;
    }
  }

  .v-list-item {
    border-bottom: 1px solid #9e9e9e45;
    text-transform: uppercase;

  }

  .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled).current {
    color: #0081a7 !important;
  }

  .v-toolbar__content {
    padding: 0;
  }

}

.nohover:focus::before, .nohover:hover::before {
  opacity: 0 !important;
}

//.v-btn__content {
//  font-size: 26px;
//  font-family: teradeli-light;
//}

#Eden_ProjetContainer {
  transform: translateX(-265px);
  @media (max-width: 767px) {
    transform: translateX(-118px) translateY(17px) !important;
  }
}

@media (max-width: 767px) {
  #Trees_for_TigerContainer {
    transform: translateX(-230px);
    margin-top: -150px;
  }
}

.instagram_gallery {
  overflow-x: auto;
  max-width: 100%;
  display: flex;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    overflow: hidden;
    @media (min-width: 990px) {
      min-width: 16.666%;
    }
    @media (min-width: 800px) and (max-width: 989px) {
      min-width: 20%;
    }
    @media (min-width: 700px) and (max-width: 799px) {
      min-width: 25%;
    }
    @media (min-width: 600px) and (max-width: 699px) {
      min-width: 33.333%;
    }
    @media (min-width: 480px) and (max-width: 599px) {
      min-width: 50%;
    }
    @media (max-width: 479px) {
      min-width: 100%;
    }

    img {
      width: 100% !important;
      transition: .5s;
      height: 100%;

      &:hover {
        transition: all .5s;
        transform: scale(1.05);
      }
    }
  }
}

.modal-open {
  overflow: hidden !important;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.h-50 {
  height: 50% !important;
}

.opacity-02 {
  opacity: 0.2 !important;
}

.absolute-title {
  z-index: 2;
  position: absolute !important;
  top: 20px;
}

.p-0 {
  padding: 0 !important;
}

.bgi {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.theme--light.v-card {
  background: rgba(255, 255, 255, 0.9) !important;
}

.v-expansion-panel-content__wrap {
  padding: 0px 10px;
}


.v-snack__wrapper.t.theme--dark {
    background-color: rgba(0, 0, 0, 0.5)!important;
}
.v-application--is-ltr .v-snack__action {
  margin-right: 0px!important;
}
.v-dialog {
  margin: 8px !important;
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.mapClass {
  .card-header {
    margin-top: 0;
    margin-bottom: 5px;
    color: #19110b;
    font-size: 16px;
    font-weight: 900;
    width: 500px;
  }
}

.sub-title {
  font-size: 24px;
  font-family: 'teradeli-medium', sans-serif;
  line-height: 1.16667;
  letter-spacing: .009em;
}

.text-white {
  color: white;
}

.text-lightblue {
  color: #0081a7;
}

.text-gray {
  color: rgba(255, 255, 255, 0.5);
}

.bg-white {
  background: white;
}

.hand {
  cursor: pointer;
}

.page-title {
  font-family: 'teradeli-medium', sans-serif;
  line-height: 1;
  padding-left: 20px;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.page-details {
  color: #888;
  font-size: 13px;
  padding-left: 20px;
  line-height: 1rem !important;
  font-weight: 500;
}

.mission-accordion {
  .v-expansion-panel {
    background-size: cover;
  }

  ul {
    padding-left: 0 !important;
  }

  .minusIcon {
    display: none;
  }

  .v-expansion-panel-header {
    padding-bottom: 60px;
  }

  .v-expansion-panel-header--active {
    .minusIcon {
      display: block;
    }

    .plusIcon {
      display: none;
    }

  }

  .v-expansion-panel-header__icon {
    display: none !important;
  }
}

#blackContent {
  z-index: 100000;
  background-color: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
  -webkit-transition: opacity 0.5s, visibility 0s linear 0.5s;
  visibility: hidden;

  &.overlay {
    visibility: visible !important;
    opacity: .8 !important;
    transition: opacity 0.5s, visibility 0s !important;
    -webkit-transition: opacity 0.5s, visibility 0s !important;
  }
}

.stickyBar {
  transition: ease-in-out 0.4s;
  position: fixed;
  z-index: 1000;
  transform: translate3D(0, 0, 0);
  top: -71px;
  width: 100%;

  .v-expansion-panels {
    display: none;
  }

  &.active {
    top: 0 !important;

    .v-expansion-panels {
      display: block;
    }
  }
}

.blackoverlay {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #121217;
    opacity: 0.1;
    z-index: 1 !important;
    transition: opacity 0.5s !important;
  }
}

.gradientoverlay {
  &::after {
    background: linear-gradient(0.75deg, #000000 0%, transparent 100%);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.3 !important;
  }
}

.v-toolbar__logo {
  width: 140px;
}

.z-2 {
  z-index: 2;
  position: relative;
}

.backgroundcover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.mission-accordion {
  .v-expansion-panel {
    background-color: transparent !important;
  }
}

.menu-bar {
  background: white !important;

  .brand {
    filter: brightness(1) invert(0);
  }

  .item {
    color: #19110b;
  }
}

.BgTransparent {
  .menu-bar {
    background: transparent !important;

    .brand {
      filter: brightness(0) invert(1);
    }

    .item {
      color: white;
    }

    /*&:hover {
      background: white!important;
      .brand {
        filter: brightness(1) invert(0);
      }

      .item {
        color: #000000;
      }
    }*/
  }
}

.myGrid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto auto auto;
  @media (max-width: 960px) {
    grid-gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.squaredimage::before {
  content: ' ';
  display: block;
  width: 100%;
  padding-top: 100%
}

.squaredimage img {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.lazyload {
	opacity: 0;
}

.lazyloading {
	opacity: 1;
	transition: opacity 300ms;
}

.lazyloading:after {
  content: '';
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
	background: url('https://ik.imagekit.io/g1noocuou2/Icons/ripple.svg') no-repeat center;
  z-index: 10010000;
}
.hand {  
  cursor: pointer;
}
.viewer-backdrop {
    background-color: rgb(255 255 255) !important;
}

.viewer-backdrop {
  background-color: rgb(255 255 255) !important;
}

.no-message {
  .v-messages {
    display: none;
  }

  .v-input__slot {
    margin-bottom: 0 !important;
  }
}

.filter-bar {
  .v-toolbar__content {
    flex-wrap: wrap;
    height: unset !important;
  }

  height: unset !important;
  @media(min-width: 768px) {
    height: 70px !important;
    .v-toolbar__content {
      height: 70px !important;
    }
  }


}

.custom-list {
  .v-list-item--active {
    color: #19110b !important;
    font-weight: 900;
  }
}
.stickyFilterBar{
  position: sticky;
  top:0;
   z-index: 1000;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}