:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

@font-face {
  font-family: 'teradeli-book';
  font-style: normal;
  font-weight: 400;
  font-display: block;

  src: url(../../assets/fonts/Teradeli-Book.woff) format('woff');
}

@font-face {
  font-family: 'teradeli-medium';
  font-display: block;
  src: url(../../assets/fonts/Teradeli-Medium.woff) format('woff');
}

@font-face {
  font-family: 'teradeli-light';
  font-display: block;
  src: url(../../assets/fonts/Teradeli-Light.woff) format('woff');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color .3s;
}
a {
  color: var(--color-primary)
}
