@font-face {
  font-family: 'teradeli-book';
  font-style: normal;
  font-weight: 400;
  font-display: block;

  src: url(../../assets/fonts/Teradeli-Book.woff) format('woff');
}

@font-face {
  font-family: 'teradeli-medium';
  font-display: block;
  src: url(../../assets/fonts/Teradeli-Medium.woff) format('woff');
}

@font-face {
  font-family: 'teradeli-light';
  font-display: block;
  src: url(../../assets/fonts/Teradeli-Light.woff) format('woff');
}

body {
  font-family: teradeli-book;
  background-color: var(--bg);
  color: var(--color-primary);
  transition: background-color .3s;
}
a {
  color: var(--color-primary)
}

.cover {
display: block;
width: 100%;
height: 100%;
-o-object-fit: cover;
object-fit: cover;
}
.titlesmall {
  font-size: 16px;
}

.subtitlesmall {
  margin-bottom: 15px;
}