@font-face {
  font-family: 'teradeli-book';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../../assets/fonts/Teradeli-Book.woff) format('woff');
  /*src: url(../../assets/fonts/jagger/Jagger-Regular.woff) format('woff');*/
}

@font-face {
  font-family: 'teradeli-medium';
  font-display: block;
  src: url(../../assets/fonts/Teradeli-Medium.woff) format('woff');
  /*src: url(../../assets/fonts/jagger/Jagger-Bold.woff) format('woff');*/
}

@font-face {
  font-family: 'teradeli-light';
  font-display: block;
  src: url(../../assets/fonts/Teradeli-Light.woff) format('woff');
  /*src: url(../../assets/fonts/jagger/Jagger-Light.woff) format('woff');*/

}

body {
  font-family: teradeli-book;
  background-color: var(--bg);
  color: var(--color-primary);
  transition: background-color .3s;
  letter-spacing: -0.02em;
}
a, .v-application a {
  color: var(--v-lightbugattiblue-base);
  text-decoration: none!important
}

.cover {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.greytext {
  color: #767676!important
}