// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


$carousel-controls-size:10px!important;

$btn-rounded-border-radius:  22px !important;

$rounded: (
  'xl':  20px
);
$body-font-family: 'teradeli-book';
$heading-font-family: 'teradeli-medium';
$font-size-root: 1rem;
$line-height-root: 1.8rem;
$card-elevation: 0 !default;
$card-border-radius: 0 !default;
	
$btn-sizes: (
  'default': 33,
  'x-large': 45
);
$btn-font-sizes: (

  'default': .775rem,
  'large': .775rem,
  'x-large': .775rem
);

@import '~vuetify/src/styles/styles.sass';

$material-light: map-merge($material-light, (
  'background': var(--v-background-base, map-get($material-light, 'background')) 
));
$material-dark: map-merge($material-dark, (
  'background': var(--v-background-base, map-get($material-dark, 'background'))
));