// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


$carousel-controls-size:10px!important;

$btn-rounded-border-radius:  22px !important;

$rounded: (
  'xl':  20px !important
);
$body-font-family: 'teradeli-book';
$heading-font-family: 'teradeli-medium';
$font-size-root: 0.95rem;
$line-height-root: 1.6rem;

@import '~vuetify/src/styles/styles.sass';

$material-light: map-merge($material-light, (
  'background': var(--v-background-base, map-get($material-light, 'background')) !important,
));
$material-dark: map-merge($material-dark, (
  'background': var(--v-background-base, map-get($material-dark, 'background')) !important,
));
